kind: Deployment
apiVersion: apps/v1
metadata:
  name: nginx-deployment
  namespace: yuktaNamespace
  labels:
    app: nginx
  
specs:
  - replicas: 2
    selector:
      matchlabels:
        app: nginx

    template:
      metadata:
        name: yukta-dep-pod
        labels:
          app: nginx
      specs:
        containers:
        - name: nginx
          image: nginx:latest
          ports:
            - containerPort: 80
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 200m
              memory: 256Mi
